body, ul{
	margin:0px;
	padding: 0px;
	font-family: sans-serif;
}
#id_header{
	background: DarkGray;
	text-align: center;
	padding-top: 67px;
	padding-bottom: 67px;

}
.fold{
	background: MediumSpringGreen;
	text-align: center;
    padding-top: 266px;
    padding-bottom:266px;
}
#id_footer{
	background:DimGray;
	text-align: center;	
	color: white;
    padding-top: 106px;
	padding-bottom: 106px;
}
.block1{
    width: 1170px;
    height: 600px;
    background: rgb(255, 182, 193);
    text-align: center;
    margin:auto;
    padding-top: 40px;
}
.block2{
    background: DimGray;
    text-align: center;
    float:left;
    width: 500px;
    margin-left: 20px;
    margin-top: 50px;
    padding-top:100px;
    padding-bottom: 100px;
}
.block3{
    background: DimGray;
    text-align: center;
    float:right;
    width: 500px;
    margin-right: 20px;
    margin-top: 50px;
    padding-top:100px;
    padding-bottom: 100px;
}

.wrap{
    width: 100%;
    height: 230px;
    padding: 10px 0px 10px 0px;
    background: grey;
}
.block5{
	display: inline-block;
    background: silver;
    text-align: center;
    float:left;
    width:21%; 
    padding-top:110px;
    padding-bottom: 102px;
    padding-left: 0px;
    margin-left: 3%;
}
.text1{
    width: 1170px;
    height: 300px;
    background: rgb(255, 182, 193);
    text-align: center;
    margin: auto;
    padding-top:10px; 
    padding-bottom:30px;
    margin-top: 0px;
}
.text2{
    background: Gold;
    text-align: center;
    float:left;
    width: 1170px;
    margin-top: 10px;
    padding-top:150px;
    padding-bottom: 110px;
}